*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html, body {
    width: 100%;
    height: 100%;
  }
  
body {
   
    font-family: sans-serif;
    background-color: pink;
    background: url("../imgs/hero1.jpg")center center no-repeat;
    background-size: cover;
    
  }
body::before {
    content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image:  linear-gradient(to right, #c299ff, #ffb3ff,  #ffb3b3, #ff944d);
      opacity: 0.865; 
    }
#brand{
  width:50px;
  height: 40px;
}   
.navbar{
    padding:35px 60px !important;
}
.navbar-brand{
    font-size:22px;
}
.navbar .navbar-toggler .navbar-toggler-icon{
   color: #fff !important;
}

a{
    color: #fff !important;
    text-transform: uppercase;
    font-size:18px;
    letter-spacing: 3px;
    font-weight: 500;
}
a:hover{
    color: #e7e0e9 !important;
}
#content{
  color: #fff;
  text-align: center;
  padding-top: 15%;
  text-shadow:0px 5px 4px rgba(0,0,0,0.4),0px 10px 8px rgba(0,0,0,0.1),0px 15px 18px rgba(0,0,0,0.1);
}
  
  
  